:root {

  /* Borders: Width and color (dark to bright) */

  --tart-border-width: 1px;
  --tart-panel-border-width: 2px;


  /* UI fonts: Family, size and color (bright to dark)
    ---------------------------------------------------
     The UI font CSS variables are used for the typography all of the tart
     user interface elements that are not directly user-generated content.
  */

  --tart-ui-font-scale-factor: 1.2;
  --tart-ui-font-size0: calc(var(--tart-ui-font-size1) / var(--tart-ui-font-scale-factor));
  --tart-ui-font-size1: 13px; /* Base font size */
  --tart-ui-font-size2: calc(var(--tart-ui-font-size1) * var(--tart-ui-font-scale-factor));
  --tart-ui-font-size3: calc(var(--tart-ui-font-size2) * var(--tart-ui-font-scale-factor));
  --tart-ui-icon-font-size: 14px; /* Ensures px perfect FontAwesome icons */
  --tart-ui-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* Content fonts: Family, size and color (bright to dark)
     Content font variables are used for typography of user-generated content.
  */

  --tart-content-font-size: 13px;
  --tart-content-line-height: 25px;

  --tart-code-font-size: 13px;
  --tart-code-line-height: 17px;
  --tart-code-padding: 5px;
  --tart-code-font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
  --tart-monospace-font-family: monospace;
  --tart-ui-padding: 6px;

  /* Icons */
  --tart-icon-chevron-right: url(../icons/chevron-right-dark.svg);
  --tart-icon-loading: url(../icons/loading-dark.svg);
  --tart-icon-close: url(../icons/close-dark.svg);
  --tart-icon-arrow-up: url(../icons/arrow-up-dark.svg);
  --tart-icon-arrow-down: url(../icons/arrow-down-dark.svg);
  --tart-sprite-y-offset: -20px;
  --tart-icon-circle: url(../icons/circle-dark.svg);
  --tart-preloader: url(../icons/spinner.gif);
  --tart-icon-case-sensitive: url(../icons/case-sensitive-dark.svg);
  --tart-icon-regex: url(../icons/regex-dark.svg);
  --tart-icon-whole-word: url(../icons/whole-word-dark.svg);
  --tart-icon-refresh: url(../icons/Refresh_inverse.svg);
  --tart-loading: url(../icons/loading.gif);
  --tart-icon-expand: url(../icons/expand.svg);
  --tart-icon-close-all: url(../icons/close-all-dark.svg);
  --tart-icon-collapse: url(../icons/collapse.svg);
  --tart-icon-collapse-all: url(../icons/CollapseAll_inverse.svg);
  --tart-icon-remove-all: url(../icons/remove-all-inverse.svg);
  --tart-icon-add: url(../icons/add-inverse.svg);
  --tart-icon-clear: url(../icons/clear-search-results-dark.svg);
  --tart-icon-replace: url(../icons/replace-inverse.svg);
  --tart-icon-replace-all: url(../icons/replace-all-inverse.svg);
  --tart-icon-open-file: url(../icons/open-file-dark.svg);
  --tart-icon-open-change: url(../icons/open-change-dark.svg);
  --tart-icon-preview: url(../icons/preview-dark.svg);
  --tart-icon-open-json: url(../icons/edit-json-dark.svg);
  --tart-icon-serial-connect: url(../icons/serial-connect.svg);
  --tart-icon-serial-disconnect: url(../icons/serial-disconnect.svg);
  --tart-icon-firmware-update: url(../icons/firmware-update.svg);
  --tart-icon-blockly: url(../icons/blockly.svg);
  --tart-icon-size: 16px;

  /* Scrollbars */
  --tart-scrollbar-width: 10px;
  --tart-scrollbar-rail-width: 10px;

  /* Statusbar */
  --tart-statusBar-font-size: 12px;

  /* Opacity for disabled mod  */
  --tart-mod-disabled-opacity: 0.4;
}
